body{
    margin:0;
    background-image: url('https://149349300.v2.pressablecdn.com/wp-content/uploads/2019/06/3d-cube-background-4k-yo.jpg');
    background-size: cover;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type:none;
}

h1,h2,h3,h4,h5,h6,p{
    margin-top:0;
}
a{
    text-decoration: none;
}
/* helper class */
w-100{
    width:100%;
}

/* --------------------------------------------- */
*{
    box-sizing: border-box;
}
/* variables */
:root{
    --alfa:'Alfa Slab One';
    --nixi:'Nixie One';
    --raleway:'Raleway';
    --arvo:'Arvo';
    --lato:'Lato';
}
#container{
    position: relative;
    width:450px;
    height: 550px;
    margin:100px auto 0 auto;
    transform-style: preserve-3d;
    perspective: 1200px;
    
}
/* pages */
#left-page,#right-page,.front,.back{
    position: absolute;
    height: 100%;
    width:100%;
    
    
}

#left-page .back,
#right-page .back{
    transform: rotateY(180deg);
}

#left-page .front{
 /* z-index: 45000; */
 backface-visibility: hidden;
}
#left-page .back{
/* z-index: 40000; */
backface-visibility: hidden;
overflow-y: scroll;
}
#mid-page{
    height: 100%;
    position: absolute;
    width: 100%;
}
#left-page{
    transform-origin: left;
    transform-style: preserve-3d;
    z-index: 50000;
    transition:transform 1s;
    transition-delay: 1s;


}
#right-page{
    transform-origin: right;
    transform-style: preserve-3d;
    /* z-index: 30000; */
    transition:transform 1.5s;

}
#right-page .front{
/* z-index: 25000; */
backface-visibility: hidden;
}
#right-page .back{
    /* z-index: 20000; */
 backface-visibility: hidden;

}
#container:hover #left-page{
    transform: rotateY(-180deg);
    transition:transform 0.5s;

    
}

#container:hover #right-page{
    transform: rotateY(180deg);
    transition:transform 5s;

    
}
.front,.back,#mid-page{
    background-color:#fff;
    border: 1px solid #000;
}

/* leftpage front section */
#left-page .front{
    background-image: url("https://themes.pixelwars.org/bookcard-wp/wp-content/uploads/2013/04/cover.jpg");
    background-size: 100% 100%;
}
#left-page .front .intro {
    text-align: center;

}
#left-page .front .intro h1{
    font-family: var(--alfa);
    text-transform: uppercase;
    font-size: 2.7em;
    /* 1em =16px */
    color:white;
    text-shadow: -5px 6px 0px #D45848;
    margin:0;
}
#left-page .front .intro p{
    color:#fff;
    font-family: var(--nixi);
}
#left-page .front .about h3{
    color: #FFCC00;
    font-family: var(--raleway);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    text-shadow: 2px 2px 0px #000;
    margin:2em 0px 0px 0px;
}

#left-page .front .about span{
    display: block;
    color: #fff;
    font-family: var(--raleway);
    font-size: 20px;
    font-weight: 200;


}
#left-page .front .about ,
#left-page .front .intro{
padding:0.5em 1em 0em 1em;
}
#left-page .back,
#mid-page,
#right-page .back{
    padding:1.5em 2.5em;
}

.mainHeading{
    text-align: center;
    position: relative;
}
.mainHeading:after{
    display:block;
    content:"";
    position:absolute;
    top:50%;
    width:100%;
    height: 1px;
    background-color: #000;
    z-index:-1;

}
.mainHeading span{
    display: inline-block;
    background-color: #000;
    color:#fff;
    padding: 6px 16px;
    font-family: var(--arvo);
    border-radius: 7px;
}

/* left-page back */
#left-page .back .myIntro{
    text-align: center;
}
#left-page .myIntro p{
    font-family: var(--lato);
    color: #555;
    font-size:20px;

}

#left-page .myIntro p span{
    color:#000;
    font-weight: 900;
    border-bottom:3px solid #000;
    position: relative;
    display: inline-block;
    padding-bottom: 3px;
    
}
#left-page .back .subheadings{
    text-align: center;
}
#left-page .back .subheadings span{
    display: inline-block;
    padding: 3px 12px;
    border:1px dashed #888;
}
#left-page .back .employment .emp{
    display: flex;
    justify-content:space-between;
}
.employment .emp h4
{
    margin:0;
}
.emp .time
{
    width: 30%;
    text-align: center;
}
.emp .time span{
    display: block;
    padding: 8px 10px;
    border:1px solid #888;
    border-radius: 10px;
}
.emp .post{
    width:60%;
}

.devskill h4:after{
    display: block;
    content: "";
    width:100%;
    height: 8px;
    background-color: #000;
    border-radius: 5px;
}

#Devskills .devskill:nth-child(3) h4:after{
    width:50%;
}